body {
    color: #864000 !important;
}

input {
    color: #864000 !important;
}

.header-img {
    background-image: url("../assets/img/header-img.jpg");
    background-size: 150%;
    background-position: right 80% bottom 30%;
    margin-top: 5vw;
}

.logo {
    width: 50px;
    height: 50px;
    font-size: 15px;
}

.slogan {
    font-family: 'Cookie', cursive;
    padding-bottom: 12vw;
    color: #D44000;
}

.main-text-color {
    color: #864000 !important;
}

.selected-text-color, .active {
    color: #FF7A00 !important;
}

::placeholder {
  color: #FF7A00 !important;
}

.item-img {
    height: 200px;
    object-fit: cover;
}

.cart-label {
    width: 25px;
    height: 25px;
    top: -10px;
    right: -10px;
    color: white;
}

.category-img {
    height: 300px;
    object-fit: cover;
}

.qty-control {
    width:40%;
}

.indentation-from-top {
    margin-top: 5vw !important;
}

@media screen and (min-width: 1600px) {
    .indentation-from-top {
        margin-top: 7vw !important;
    }
}

.form-check-input:checked {
    border-color: #ffc107 !important;
    background-color: #ffc107 !important;
}

.form-check-input:focus, .form-check-label::before {
  border-color: #ffc107 !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.25) !important;
}

.form-check-label::before {
  border-color: #ffc107 !important;
  background-color: #ffc107 !important;
}

.form-check-input:active, .form-check-label::before {
  background-color: #ffc107 !important;
  border-color: #ffc107 !important;
}

.form-check-input:focus:not(:checked), .form-check-label::before {
  border-color: #ffc107 !important;
}

.form-check-input:not(:disabled):active~.form-check-label::before {
  background-color: red !important;
  border-color: #ffc107 !important;
}

.popup-error-trigger {
    position: relative;
}

.popup-error {
    visibility: hidden;
    position: absolute;
    width: 220px;
    background-color: #FF7A00;
    color: #fff;
    font-size: 12px;
    text-align: center;
    border-radius: 6px;
    padding: 8px 3px;
    z-index: 100;
    bottom: 90%;
}

.popup-error::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #FF7A00 transparent transparent transparent;
}

.popup-error-main-page {
    bottom: 20%;
    left: 12%;
}

.popup-error-show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.danger {
    color: red;
    list-style-type: none;
}

.success {
    color: green;
    list-style-type: none;
}