{% include "admin_panel/admin_panel_header.html" %}

{% set status_options = ['new', 'confirmed', 'in progress', 'ready', 'canceled', 'completed'] %}

                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                    <h2 class="selected-text-color">Orders</h2>
                    <div class="table-responsive small">
                        <table class="table table-striped table-m text-center">
                            <thead>
                            <tr>
                                <th class="selected-text-color" scope="col">Order ID</th>
                                <th class="selected-text-color" scope="col">Customer ID</th>
                                <th class="selected-text-color" scope="col">Status</th>
                                <th class="selected-text-color" scope="col">Date</th>
                                <th class="selected-text-color" scope="col">Ready by date</th>
                                <th class="selected-text-color" scope="col">Total price</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for order in orders %}
                            <tr>
                                <td data-bs-toggle="modal" data-bs-target="#order{{ order.id }}-modal">{{ order.id }}</td>
                                <td data-bs-toggle="modal" data-bs-target="#order{{ order.id }}-modal">{{ order.user_id }}</td>
                                <td>
                                    <select class="form-select p-1 px-2 w-75 m-auto"
                                            id="statusOptions{{ order.id }}"
                                            onchange="changeOrderStatus({{ order.id }})">
                                        {% for status in status_options %}
                                            <option value="{{ status }}"
                                                    {% if status ==  order.status %} selected {% endif %} >
                                                {{ status }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td data-bs-toggle="modal" data-bs-target="#order{{ order.id }}-modal">{{ order.created_at.strftime('%d-%m-%Y') }}</td>
                                <td data-bs-toggle="modal" data-bs-target="#order{{ order.id }}-modal">{{ order.ready_by_date.strftime('%d-%m-%Y') }}</td>
                                <td data-bs-toggle="modal" data-bs-target="#order{{ order.id }}-modal">£{{ (order.total_price/100)|round(2) }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </main>

{% for order in orders %}
<div class="modal fade" id="order{{ order.id }}-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title selected-text-color">Order {{ order.id }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <p class="selected-text-color"><b>Customer information</b></p>
                    <p>Name: {{ order.user.name }}</p>
                    <p>Phone: {{ order.user.phone_number }}</p>
                    <p>E-Mail: {{ order.user.email }}</p>
                </div>
                <div>
                    <p class="selected-text-color"><b>Order details:</b></p>
                    {% for item in order.order_items %}
                        <p>{{ item.item.name }}: {{ item.quantity }} pcs *  £{{ (item.price/100)|round(2) }}</p>
                    {% endfor %}
                    <p class="selected-text-color"><b>Total price: £{{ (order.total_price/100)|round(2) }}</b></p>
                </div>
                <div>
                    <p>Order date: {{ order.created_at }}</p>
                    <p>Ready by date: {{ order.ready_by_date }}</p>
                    <label for="status" class="form-label">Status:</label>
                    <select class="form-select p-1 px-2 mb-3"
                            id="status">
                        {% for status in status_options %}
                            <option value="{{ status }}" {% if status ==  order.status %} selected {% endif %} >
                                {{ status }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn selected-text-color btn-outline-warning"
                        data-bs-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn main-text-color btn-warning"
                        data-bs-dismiss="modal"
                        onclick="changeOrderDetails({{ order.id }})">
                    Save changes
                </button>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% include "admin_panel/admin_panel_footer.html" %}
