{% include "admin_panel/admin_panel_header.html" %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <h2 class="selected-text-color">Categories</h2>
    <div class="table-responsive small">
        <table class="table table-striped align-middle">
            <thead>
            <tr>
                <th class="selected-text-color" scope="col">Category ID</th>
                <th class="selected-text-color" scope="col">Name</th>
                <th class="selected-text-color" scope="col">Image</th>
                <th class="selected-text-color" scope="col">Products</th>
                <th class="selected-text-color" scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for category in categories %}
            <tr>
                <td class="ps-2">{{ category.id }}</td>
                <td id="category{{ category.id }}-name">{{ category.name }}</td>
                <td id="category{{ category.id }}-image">
                    <img src="{{ category.image_url }}"
                         class="category-img rounded"
                         alt="category image"
                         style="width: 250px; height: 120px;">
                </td>
                <td>
                    {% for item in category.items %}
                    {% if item.deleted_at == None %}
                    {{ item.name }}<br>
                    {% endif %}
                    {% endfor %}
                </td>
                <td>
                    <button class="btn btn-outline-warning me-4 d-block mb-1 w-50 mx-auto"
                            data-bs-toggle="modal"
                            data-bs-target="#category{{ category.id }}-modal">
                        <i class="fa-solid fa-pencil" style="color: #ff7a00;"></i>
                    </button>
                    <form action="{{ url_for('delete_category', category_id=category.id) }}" method = "POST">
                        <button class="btn btn-outline-warning me-4 d-block w-50 mx-auto"
                                type="submit">
                            <i class="fa-solid fa-trash-can" style="color: #ff7a00;"></i>
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <a class="main-text-color btn btn-warning btn-lg" href="{{ url_for('add_category') }}">Add new category</a>
    </div>
</main>

{% for category in categories %}
<div class="modal fade" id="category{{ category.id }}-modal" tabindex="-1" aria-labelledby="phone" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title selected-text-color">{{ category.name }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="name" class="form-label">Name of the category:</label>
                <input type="text" class="form-control" id="name" value="{{ category.name }}" >
                <label for="image" class="form-label mt-2">Image URL:</label>
                <input type="text" class="form-control" id="image" value="{{ category.image_url }}" >
            </div>
            <div class="modal-footer">
                <button type="button" class="btn selected-text-color btn-outline-warning"
                        data-bs-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn main-text-color btn-warning"
                        data-bs-dismiss="modal"
                        onclick="saveCategoryChanges({{ category.id }})">
                    Save changes
                </button>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% include "admin_panel/admin_panel_footer.html" %}
