<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Boorsoq</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
        <link href="{{ url_for('static', filename='/css/styles.css') }}" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/css/datepicker-bs5.min.css">
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <div class="mt-5 container-fluid">
                <div class="row">
                    <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
                        {% set navigation_bar = [
                            ('/admin/orders', 'admin_panel', 'fa-table', 'Orders'),
                            ('/admin/products', 'admin_panel_products', 'fa-stroopwafel', 'Products'),
                            ('/admin/categories', 'admin_panel_categories', 'fa-list', 'Categories'),
                            ('/admin/customers', 'admin_panel_customers', 'fa-users', 'Customers'),
                            ('/admin/reports', 'admin_panel_reports', 'fa-chart-pie', 'Reports'),
                            ('/admin/settings', 'admin_panel_settings', 'fa-gears', 'Settings'),
                            ('/logout', 'logout', 'fa-right-from-bracket', 'Sign out')
                        ] %}
                        {% set active_page = request.endpoint|default('admin_panel') %}
                        <ul class="nav flex-column mt-3">
                            {% for href, id, icon, caption in navigation_bar %}
                                <li class="nav-item">
                                    <a class="nav-link d-flex align-items-center gap-2 main-text-color {{ 'active' if id == active_page }}"
                                       href="{{ href }}">
                                        <i class="fa-solid {{ icon }}"></i>
                                        {{ caption }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
