{% include "header.html" %}

    <div class="indentation-from-top container d-flex flex-column">
        <p class="text-center">Email us at : info@littlevalleybakery.com</p>
        <p class="text-center">Call us on 01792 371346</p>
        <div class="row m-4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2479.1790915065476!2d-4.103228!3d51.583281!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486e8d6f7bedb3f3%3A0x99ee138d6e9db1eb!2sLittle%20Valley%20Bakery!5e0!3m2!1sen!2sus!4v1741122010150!5m2!1sen!2sus"
                width="600"
                height="450"
                style="border:0;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

{% include "footer.html" %}
