{% include "header.html" %}

    <div class="header-img p-4 p-md-5 mb-4 rounded">
        <div class="col-md-6 px-0">
            <h1 class="slogan display-4 fst-italic">Have some more of these soft French rolls, and have a cup of tea</h1>
            <div class="input-group mb-1">
                <input type="search" class="selected-text-color form-control" placeholder="Search for products" aria-label="Search" aria-describedby="button-addon2">
                <button class="btn btn-outline-warning" type="button" id="button-addon2"><i class="fa-solid fa-magnifying-glass" style="color: #ff7a00;"></i></button>
            </div>
        </div>
    </div>
    <div class="items row row-cols-3 justify-content-center">
        <div class="col card text-center m-3" style="width: 18rem;">
            <img src="{{ url_for('static', filename='/assets/img/item_img.jpg') }}" class="card-img-top" alt="item_image">
            <div class="card-body">
                <h5 class="selected-text-color card-title">Card title</h5>
                <p class="main-text-color card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-warning btn-lg">Add</a>
            </div>
        </div>
        <div class="col card text-center m-3" style="width: 18rem;">
            <img src="{{ url_for('static', filename='/assets/img/item_img1.jpg') }}" class="card-img-top" alt="item_image">
            <div class="card-body">
                <h5 class="selected-text-color card-title">Card title</h5>
                <p class="main-text-color card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-warning btn-lg">Add</a>
            </div>
        </div>
        <div class="col card text-center m-3" style="width: 18rem;">
            <img src="{{ url_for('static', filename='/assets/img/item_img2.jpg') }}" class="card-img-top" alt="item_image">
            <div class="card-body">
                <h5 class="selected-text-color card-title">Card title</h5>
                <p class="main-text-color card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-warning btn-lg">Add</a>
            </div>
        </div>
        <div class="col card text-center m-3" style="width: 18rem;">
            <img src="{{ url_for('static', filename='/assets/img/item_img3.jpg') }}" class="card-img-top" alt="item_image">
            <div class="card-body">
                <h5 class="selected-text-color card-title">Card title</h5>
                <p class="main-text-color card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-warning btn-lg">Add</a>
            </div>
        </div>
        <div class="col card text-center m-3" style="width: 18rem;">
            <img src="{{ url_for('static', filename='/assets/img/item_img4.jpg') }}" class="card-img-top" alt="item_image">
            <div class="card-body">
                <h5 class="selected-text-color card-title">Card title</h5>
                <p class="main-text-color card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-warning btn-lg">Add</a>
            </div>
        </div>
        <div class="col card text-center m-3" style="width: 18rem;">
            <img src="{{ url_for('static', filename='/assets/img/item_img5.jpg') }}" class="card-img-top" alt="item_image">
            <div class="card-body">
                <h5 class="selected-text-color card-title">Card title</h5>
                <p class="main-text-color card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-warning btn-lg">Add</a>
            </div>
        </div>
        <div class="col card text-center m-3" style="width: 18rem;">
            <img src="{{ url_for('static', filename='/assets/img/item_img6.jpg') }}" class="card-img-top" alt="item_image">
            <div class="card-body">
                <h5 class="selected-text-color card-title">Card title</h5>
                <p class="main-text-color card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-warning btn-lg">Add</a>
            </div>
        </div>
    </div>

{% include "footer.html" %}
