{% include "header.html" %}

    <div class="indentation-from-top row">
        <h3>
            <a href="{{ url_for('get_categories') }}"
            class="main-text-color px-2 text-decoration-none">Categories</a> /
            <a href="{{ url_for('show_category', id=category.id) }}"
            class="main-text-color px-2 text-decoration-none">{{ category.name }}</a>
        </h3>
    </div>
    <div class="items row row-cols-3 justify-content-center">
        {% if items %}
        {% for item in items %}
        {% if item.visibility and not item.deleted_at %}
            <div class="col card text-center m-3 pt-3" style="width: 18rem;">
                <img src="{{ item.image_url }}" class="item-img card-img-top" alt="item_image">
                <div class="card-body">
                    <h5 class="selected-text-color card-title">£{{ (item.price/100)|round(2) }}</h5>
                    <p class="main-text-color card-text">{{ item.name }}</p>
                    <button class="add-item-btn btn btn-warning btn-lg" onclick="addItemToCart({{ item.id }})">Add</button>
                </div>
            </div>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>
    {% if items.pages > 1 %}
        {% with items=items, page=page, url='show_category', parent_id=category.id %}
            {% include "pagination.html" %}
        {% endwith %}
    {% endif %}

{% include "footer.html" %}
