<div class="container mt-4">
  <nav aria-label="page navigation">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        {% if items.has_prev %}
        <a class="page-link selected-text-color"
           {% if parent_id %}
           href="{{ url_for(url, page=items.prev_num, id=parent_id) }}"  aria-label="Previous">
          {% else %}
          href="{{ url_for(url, page=items.prev_num) }}" aria-label="Previous">
          {% endif %}
          <span aria-hidden="true">&laquo;</span>
        </a>
        {% else %}<span class="page-link disabled" aria-hidden="true">&laquo;</span>{% endif %}
      </li>
      {% for page in pages: %}
      <li class="page-item">
        <a class="page-link selected-text-color {% if page == current_page %} text-bg-warning {% endif %}"
           {% if parent_id %}
           href="{{ url_for(url, page=page, id=parent_id) }}">
          {% else %}
          href="{{ url_for(url, page=page) }}">
          {% endif %}
          {% if page == None %}
          ...
          {% else %}
          {{ page }}
          {% endif %}
        </a>
      </li>
      {% endfor %}
      <li class="page-item btn-warning">
        {% if items.has_next %}
        <a class="page-link selected-text-color"
           {% if parent_id %}
           href="{{ url_for(url, page = items.next_num, id=parent_id) }}" aria-label="Next">
          {% else %}
          href="{{ url_for(url, page = items.next_num) }}" aria-label="Next">
          {% endif %}
          <span aria-hidden="true">&raquo;</span>
        </a>
        {% else %}<span class="page-link disabled" aria-hidden="true">&raquo;</span>{% endif %}
      </li>
    </ul>
  </nav>
</div>